<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Version" value="1.03a"/>
    <!-- For the entire Watch Game form settings object -->
    <add key="DefaultWatchArgs" value=""/>
    <add key="VLCPath" value=""/>
    <add key="MPCPath" value=""/>
    <add key="LiveStreamerPath" value=""/>
    <add key="ServiioPath" value=""/>
    <add key="ShowScores" value="True"/>    
    <add key="RefreshIntervalInMin" value="0"/>
    <add key="ShowAdvancedWatchPanel" value="False"/>
  </appSettings>
</configuration>
